/ShoppingServer/.env
/ShoppingServer/node_modules
/shopping_list
/ShoppingServer/firebase-key.json
/testclient
/ShoppingClient/node_modules
/ShoppingClient/.env
/ShoppingClient/android
/ShoppingClient/build