* {
  padding: 0;
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffffff90;
  user-select: none;
}

div {
  width: fit-content;
}

body {
  background: #3538da;
}

input {
  outline: none;
  border: none;
  background: none;
  width: 100%;
  color: white;
  border-bottom: 1px solid white;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 5px;
  width: 80vw;
  font-size: 20px;
}

input::placeholder {
  color: #ffffff90;
}

.smallTitle {
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 0;
  text-transform: uppercase;
  margin-top: 25px;
  margin-left: 5px;
}

#wrapper {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #58b5eb, #3538da);
}

#MainWrapper {
  height: 100vh;
  width: 100vw;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #58ebb3, #35da43);
  z-index: -1;
  color: transparent;
}

#loading {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.largeButton {
  border: 1px solid white;
  text-align: center;
  border-radius: 10vw;
  padding: 1vh 0;
  width: 80vw;
  color: white;
  font-weight: bolder;
  background: #ffffff10;
  font-size: 25px;
}

.inline {
  width: fit-content;
  display: inline-block;
}

.link {
  font-size: inherit;
  color: whitesmoke;
  white-space: pre;
  font-weight: bold;
}

.smallText {
  font-size: 15px;
}

.bottom {
  position: absolute;
  bottom: 10vh;
  right: 0;
  left: 0;
  height: fit-content;
  display: block;
}

#lock {
  width: 55vw;
  position: fixed;
  bottom: 550px;
  left: 0;
  right: 0;
  filter: brightness(500%);
}

.smallTopMargin {
  margin-top: 1vh;
}
.smallLeftMargin {
  margin-left: 5vw;
}

#error {
  color: yellow;
  font-weight: bold;
}

#errorScreen {
  color: white;
  font-weight: bold;
  font-size: 40px;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 10vw;
  margin-left: 10vw;
  text-align: center;
}

.item {
  margin-bottom: 20px;
  width: 70vw;
  /* border: 1px solid white; */
  /* background: rgb(144, 238, 192); */
  backdrop-filter: brightness(120%);
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  box-shadow: 0 0 10px #92573b;
}
.itemName {
  margin-top: 0;
  width: 65vw;
  overflow-wrap: break-word;
  margin-left: 0;
  color: #101015;
}

.itemDescription {
  margin-left: 0;
  width: inherit;
  width: 70vw;
  overflow-wrap: break-word;
  color: #505060;
  font-size: 14px;
}

.itemAmount {
  font-weight: bolder;
  color: #101015;
  position: absolute;
  right: 5vw;
}
.itemCreator {
  display: block;
  white-space: pre;
  color: #505060;
  font-size: 14px;
  margin-left: 0;
}

.largeTitle {
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#CurrentList {
  position: sticky;
  top: 0;
  color: #101015;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #75ecce;
  z-index: 5;
  box-shadow: 0 0 15px #92573b;
}

.specialItem {
  color: black;
  font-weight: bolder;
  font-size: 30px;
  font-family: monospace;
}

.specialList {
  font-family: monospace;
}

#itemForm,
#listForm {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: fit-content;
  z-index: 7;
}

.formBackground {
  background: #10101550;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 0;
  backdrop-filter: blur(5px);
}

.higher {
  position: relative;
  z-index: 2;
  height: fit-content;
}

#allLists {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 6;
  height: fit-content;
  width: 100vw;
}

#displayAllLists {
  position: absolute;
  left: 5vw;
  top: 0;
  bottom: 0;
  height: fit-content;
  color: black;
  z-index: 5;
  display: block;
}

.list {
  padding: 10px;
  width: 100vw;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
  background: #10101520;
}

.remove {
  color: red;
  position: absolute;
  right: 5vw;
  top: 2vw;
  font-weight: bolder;
}

.back {
  color: white;
  font-weight: bolder;
  font-size: 50px;
  position: fixed;
  left: 5vw;
  top: 2vw;
  width: 100px;
  height: 10px;
}

#displayListSettings {
  right: 5vw;
  top: 0;
  bottom: 0;
  height: fit-content;
  color: black;
  position: absolute;
}

#listSettings {
  position: absolute;
  display: none;
  z-index: 3;
}

#leaveListButton {
  position: relative;
  border-color: red;
  color: red;
  background-color: #ff000020;
  margin-top: 5vh;
  backdrop-filter: blur(20px);
}

.widthFull {
  width: 100vw;
}

#signout {
  color: white;
  position: fixed;
  right: 5vw;
  bottom: 5vw;
}

.smallIcon {
  height: 30px;
  max-height: 30px;
}
