* {
  padding: 0;
  margin: auto;
  font-family: Calibri;
}

body {
  background:#e33560;
}

#wrapper {
  height: 100vh;
  width: 100vw;
}

#title {
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
}

.itemContainer {
  background: linear-gradient(to bottom right, #151521, #252532);
  margin-bottom: 1vh;
  margin-left: 3vw;
  margin-right: 3vw;
  padding: 10px;
  border-radius: 1em;
  position: relative;
  /* box-shadow: .5em .5em 1em #13121d; */
}

.itemName {
  font-size: 1.5em;
  max-width: 80vw;
  margin-left: 0;
  font-weight: bold;
  color: whitesmoke;
  overflow-wrap: break-word;
  user-select: none;

}

.itemDesc {
  font-size: 1em;
  color: grey;
  max-width: 80vw;
  margin-left: 0;
  overflow-wrap: break-word;
  user-select: none;
  white-space: pre-wrap;
}
.itemAmt {
  position: absolute;
  right: .5em;
  bottom: .25em;
  width: fit-content;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5em;
  width: 1.2em;
  text-align: center;
  font-weight: bolder;
  font-family: monospace;
  color: whitesmoke;
  user-select: none;
}

.formSubmit {
  position: relative;
  width: 100%;
  height: 4em;
  user-select: none;
}

.submitInput {
  background: #6236FF;
  border-radius: 50%;
  outline: none;
  border: none;
  font-weight: bolder;
  padding: 2vw;
  color: whitesmoke;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1vw;
  height: 10vw;
  margin: auto;
  width: fit-content;
  user-select: none;
}

.formInput {
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid #13121d;
  width: calc(100% - 4em);
  margin-left: 2em;
  height: 2em;
  font-size: 1.1em;
  word-wrap: break-word;
  resize: none;
}

.formArea {
  margin-bottom: 1em;
}

#mainForm {
  background: white;
  padding: 1em;
  margin-bottom: 3em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 1.5em;
  z-index: 3;
  position: relative;
}

#itemWrapper {
  height: fit-content;
  padding-bottom: 2em;
}

#refresh {
  background: white;
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  padding: .5vw;
  margin-bottom: 5vw;
  user-select: none;
  margin-left: 37vw;
  font-size: 0;
}

#addItemIcon {
  background: white;
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  padding: .5vw;
  margin-bottom: 5vw;
  user-select: none;
  font-size: 0;
  position: absolute;
  right: 37vw;
}

.itemX {
  width: 1.2em;
  font-family: monospace;
  font-size: 1.3em;
  text-align: center;
  font-weight: bolder;
  color: #fd0759;
  position: absolute;
  top: .4em;
  right: .4em;
  user-select: none;
}

#selectorContainer {
  position: fixed;
  display: block;
  background: white;
  padding-top: .4em;
  padding-bottom: .2em;
  border-radius: 1.5em;
  left: 0;
  right: 0;
  top: 1.5em;
  height: 1.75em;
  width: calc(100vw - 8em);
  box-shadow: 0 0 .4em grey;
  z-index: 2;
  overflow: hidden;
}

#dropArrow {
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  width: fit-content;
  position: absolute;
  right: 1em;
  bottom: 0;
  top: 0;
  height: fit-content;
  width: 1.2em;
  transition: .5s;
}

#selectorCurrent {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  padding: .1em .5em;
  border-radius: 1em;
  height: fit-content;
}

#settingsIcon {
  width: 1.5em;
  position: fixed;
  top: 2em;
  right: 1.25em;
}

#addPersonIcon {
  width: 1.5em;
  position: fixed;
  left: 1.25em;
  top: 2em;
}

#divider {
  margin-top: 5em;
}

#listsContainer {
  position: absolute;
  top: -100vh;
  transition: .5s ease-in-out;
  background: white;
  width: 100vw;
  z-index: 1;
  box-shadow: 0 0 1em black;
}

#listDivider {
  margin-top: 4.5em;
}

#listButtonContainer {
  border-top: 2px solid lightgrey;
  width: 100vw;
  height: fit-content;
  position: relative;
  height: 5em;
}
#createList {
  width: 35vw;
  position: absolute;
  height: fit-content;
  padding: .4em .7em;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.2em;
  top: 1em;
  left: 5vw;
  text-align: center;
  border-radius: 1.2em;
  background: #6236FF;
}
#joinList {
  width: 35vw;
  position: absolute;
  height: fit-content;
  padding: .4em .7em;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.2em;
  top: 1em;
  right: 5vw;
  text-align: center;
  border-radius: 1.2em;
  background: #6236FF;
}

#buttonWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: fit-content;
  z-index: -1;
  opacity: 0;
  transition: .25s opacity ease-in-out;
}

.mainFormShadow {
  position: fixed;
  z-index: 1;
  background: #00000099;
  width: 100vw;
  height: 100vh;  
  top: 0;
}

.mainX {
  width: 5vw;
  position: absolute;
  top: 1em;
  right: 1em;
  display: block;
  z-index: 2;
}

#settings {
  background: #101015;
  height: 100vh;
  position: fixed;
  z-index: 5;
  width: 100vw;
  top: 0;
  left: 0;
  display: none;
}

#save {
  background: #6236FF;
  color: white;
  display: block;
  width: fit-content;
  padding: .2em .5em;
  font-size: 1.5em;
  border-radius: 2em;
}

#username {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  width: 50vw;
  display: block;
  margin-bottom: 2em;
  margin-top: 10vh;
  color: white;
  outline: none;
  font-size: 1.2em;
}

#createListContainer {
  transition: .25s;
  opacity: 0;
  z-index: -1;
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#joinListContainer {
  transition: .25s;
  opacity: 0;
  z-index: -1;
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#mainLC {
  z-index: 2;
  display: block;
  position: absolute;
  background: white;
  width: fit-content;
  height: fit-content;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 1em;
  padding-bottom: 2vh;
}

#listname {
  margin-top: 5vh;
}

#joinlistname {
  margin-top: 5vh;
}

.JoinedList {
  font-size: 1.2em;
  margin-left: 1vw;
  margin-top: .5vh;
  background: lightgrey;
  margin-right: 1vw;
  padding: 1vh 2vw;
  border-radius: 2em;
  overflow: hidden;
}

.joinedListName {
}

#mainInfo {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  border-radius: 1.2em;
  height: 12vh;
  z-index: 3;
  width: 50vw;
  font-weight: bolder;
  font-size: 1.2em;
}

#infoName {
  width: fit-content;
  margin-top: 3vh;
  position: relative;
  margin-left: 5vw;
}
#infoName::after {
  position: absolute;
  top: -1.5vh;
  left: 0;
  font-size: .7em;
  width: fit-content;
  width: 100vw;
  font-weight: lighter;
  content: "List Name:";
}

#infoPassword {
  width: fit-content;
  position: relative;
  margin-top: 2vh;
  margin-left: 0;
  margin-left: 5vw;
}
#infoPassword::after {
  position: absolute;
  top: -1.5vh;
  left: 0;
  font-size: .7em;
  width: 100vw;
  height: 10px;
  font-weight: lighter;
  content: "List Password:";
}

#showInfoContainer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: -1;
}