* {
  padding: 0;
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #00000090;
  user-select: none;
}

div {
  width: fit-content;
}

body {
  background: #3538da;
}

input {
  outline: none;
  border: none;
  background: none;
  width: 100%;
  color: black;
  border-bottom: 1px solid gray;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 5px;
  width: 80vw;
  font-size: 20px;
}

input::placeholder {
  color: #00000090;
}

.smallTitle {
  color: gray;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 0;
  text-transform: uppercase;
  margin-top: 25px;
  margin-left: 5px;
}

#wrapper {
  height: 100vh;
  width: 100vw;
  background: white;
}

#loading {
  background: rgba(0, 0, 0, .5);
  width: 100vw;
  height: 100vh;
}

.largeButton {
  border: 1px solid white;
  text-align: center;
  border-radius: 10vw;
  padding: 1vh 0;
  width: 80vw;
  color: white;
  font-weight: bold;
  background: #ffffff10;
  font-size: 25px;
  background: #57B0EA;
}

.inline {
  width: fit-content;
  display: inline-block;
}

.link {
  font-size: inherit;
  color: #57B0EA;
  white-space: pre;
  font-weight: bold;
}

.smallText {
  font-size: 15px;
}

.bottom {
  position: absolute;
  bottom: 10vh;
  right: 0;
  left: 0;
  height: fit-content;
  display: block;
}

#lock {
  width: 55vw;
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
}

.smallTopMargin {
  margin-top: 1vh;
}
.smallLeftMargin {
  margin-left: 5vw;
}

#area {
  background: #00000010;
  border-radius: 20px;
  padding: 15px;
}

#blob {
  position: absolute;
  top: -20vh;
  right: -45vw;
  width: 100vw;
}